
.header-margin{
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #888888;
}

.ssilka {
    color: white;
    text-decoration: none;
    transition: color 0.5s
}
.ssilka:hover{
    color: black;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.li-nav{
    width: 150px;
    display: inline-block;
}
.size2{
    padding:0 50px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
    background: #222222;
}
.title_color{
    background: #555555 ;
}
.size1{
    width: 1440px ;
    background: #999999;
}
.lato{
    font-family: 'Lato', sans-serif;
}
.header-import{
    display: flex;
}
.left1{
    margin-left: 120px;
    align-self: center;
}
#contacts{
    margin-top: 0;
}
.code-background{
    background: #222222;
}
#code{
    margin-top: 0;
    margin-bottom: 0;
}
.pre-none{ margin-top: 0;
    margin-bottom: 0;}
#education{ margin-top: 0}

table {
    width: 500px; /* Ширина таблицы */
    /* border: 1px solid green; Рамка вокруг таблицы */
    /* margin: auto; /* Выравниваем таблицу по центру окна  */

}
td {
    text-align: center; /* Выравниваем текст по центру ячейки */
}
